body
{
	margin: 0px;
	background-color: #ffffff;
}

nav ul
{
	margin: 0px;
	padding: 0px;
	background-color:#208dc6;
	list-style-type: none;
	overflow: hidden;

}
span
{
	color:red;
	display: block;
	font-weight: bold;
	
}
span.offer
{
	color: black;
	font-weight: bolder;
}
ul li
{

	float: left;
	padding: 10px;
}
ul li.homepage
{
	position: relative;
	right: 85px;
  	margin-left: 0px;
  	padding: 10px;
   float: left;
  	
}
ul li.cart 
{
	float: right;
	margin-right: 5px;
	padding: 2px;
	position: relative;
	top: 10px;
	
}
div.items
{
	position: relative;
	right: 10px;
}
li.cart a
{
	color: white;
	font-weight: bolder;
	font-style: arial;
	padding: 10px;
	font-size: 25px;
	text-decoration: none;
}

li.homepage a
{
	color:white;
	font-size: 180%;
	font-style: arial;
	font-weight: bolder;
	padding: 30px;
	letter-spacing: 3px;
	text-decoration: none;
	margin-left: 50px;

}
li.search
{
	position: relative;
	right: 40px;
	top: 10px;
}
nav input[type='text']
{
    width: 280px;
	text-align: center;
	font-style: arial;
	font-size: 100%;
	padding: 5px;
	border-radius: 5px;
}
input[type='button']
{
	width: 40px;
	height: 30px;
	text-align: center;
	display: inline;
}
table
{
margin: 50px 450px;
}
th
{
	padding: 5px;
	font-size: larger;
}
td
{
	padding: 10px;
}
input
{
	color: #757575;
	width: 100%;
	font-weight: bold;
	font-size: medium;
	padding: 10px;
}
textarea
{
	padding: 10px;
	color: #757575;
	font-weight: bold;
	font-size: medium;
}
button.save, button.checkout
{
	position: relative;
	bottom: 30px;
	margin-left: 500px;
  background-color: #208dc6;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  color:white;
  font-family: arial;
  font-weight: bold;
  clear: both;
  display: block;

}