Options -MultiViews

RewriteEngine ON
RewriteBase /shop/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

							
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(home)$ main.php?url=$1/controller/homecontroller/method/getproducts
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(details/([0-9]+))$ main.php?url=$1/controller/productdetailscontroller/method/find/params/$2
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(login)$ main.php?url=$1/controller/logincontroller/method/getform
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(login)$ main.php?url=$1/controller/logincontroller/method/postform
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(logout)$ main.php?url=$1/controller/logincontroller/method/logout
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(cart)$ main.php?url=$1/controller/cartcontroller/method/getcartproducts
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(signup)$ main.php?url=$1/controller/logincontroller/method/getsignupform
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(signup)$ main.php?url=$1/controller/logincontroller/method/postsignupform
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(addproduct)$ main.php?url=$1/controller/cartandwishlistcontroller/method/addproduct
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(wishlist)$ main.php?url=$1/controller/wishlistcontroller/method/getwishlistproducts
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(notifications)$ main.php?url=$1/controller/notificationscontroller/method/getnotifications
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(deletenotification)$ main.php?url=$1/controller/notificationscontroller/method/deletenotification
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(registry)$ main.php?url=$1/controller/registrycontroller/method/get
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(editcart)$ main.php?url=$1/controller/cartcontroller/method/editcart
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(editwishlist)$ main.php?url=$1/controller/wishlistcontroller/method/editwishlist
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(search)$ main.php?url=$1/controller/searchcontroller/method/search
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(history)$ main.php?url=$1/controller/historycontroller/method/gethistory
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(deletehistory/([0-9]+))$ main.php?url=$1/controller/historycontroller/method/deletehistory/params/$2
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(myaccount)$ main.php?url=$1/controller/accountcontroller/method/getaccount
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(myaccount)$ main.php?url=$1/controller/accountcontroller/method/updateaccount
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/products)$ main.php?url=$1/controller/admincontroller/method/changelocation
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/products/([0-9]+))$ main.php?url=$1/controller/admincontroller/method/getproducts/params/$2
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/products/([0-9]+))$ main.php?url=$1/controller/admincontroller/method/getproducts/params/$2
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/deleteproduct/([0-9]+))$ main.php?url=$1/controller/admincontroller/method/deleteproduct/params/$2
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/editproduct/([0-9]+))$ main.php?url=$1/controller/admincontroller/method/geteditproduct/params/$2
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/editproduct/([0-9]+))$ main.php?url=$1/controller/admincontroller/method/editproduct/params/$2
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/addproduct)$ main.php?url=$1/controller/admincontroller/method/getaddproductform
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/addproduct)$ main.php?url=$1/controller/admincontroller/method/addproduct
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/products/filter)$ main.php?url=$1/controller/admincontroller/method/filterproduct
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/users)$ main.php?url=$1/controller/usercontroller/method/changelocation
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/users/([0-9]+))$ main.php?url=$1/controller/usercontroller/method/getusers/params/$2
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/users/([0-9]+))$ main.php?url=$1/controller/usercontroller/method/getusers/params/$2
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/user/edituser/([0-9]+))$ main.php?url=$1/controller/usercontroller/method/edituser/params/$2
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/deleteuser/([0-9]+))$ main.php?url=$1/controller/usercontroller/method/deleteuser/params/$2
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/adduser)$ main.php?url=$1/controller/usercontroller/method/getadduserform
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/adduser)$ main.php?url=$1/controller/usercontroller/method/adduser
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/categories)$ main.php?url=$1/controller/categcontroller/method/changelocation
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/categories/([0-9]+))$ main.php?url=$1/controller/categcontroller/method/getcategs/params/$2
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/categories/([0-9]+))$ main.php?url=$1/controller/categcontroller/method/getcategs/params/$2
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/deletecateg/([0-9]+))$ main.php?url=$1/controller/categcontroller/method/deletecateg/params/$2
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/addcateg)$ main.php?url=$1/controller/categcontroller/method/getaddcategform
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/addcateg)$ main.php?url=$1/controller/categcontroller/method/addcateg
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/login)$ main.php?url=$1/controller/adminlogincontroller/method/getloginform
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(admin/login)$ main.php?url=$1/controller/adminlogincontroller/method/postform
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/logout)$ main.php?url=$1/controller/adminlogincontroller/method/logout
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(admin/find/([0-9]+))$ main.php?url=$1/controller/admincontroller/method/find/params/$2